**Import Data**

In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn

In [3]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [4]:
cols = train.columns

In [5]:
train.count()

Item_Identifier              8523
Item_Weight                  7060
Item_Fat_Content             8523
Item_Visibility              8523
Item_Type                    8523
Item_MRP                     8523
Outlet_Identifier            8523
Outlet_Establishment_Year    8523
Outlet_Size                  6113
Outlet_Location_Type         8523
Outlet_Type                  8523
Item_Outlet_Sales            8523
dtype: int64

here Item_Weight and Outlet_Size have mising values.

In [6]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Here we have regression problem. dependent feature is Item_Outlet_Sales.

**1. Item_Identifier**

In [7]:
train['Item_Identifier'].isna().sum()

0

In [8]:
len(train['Item_Identifier'].unique())

1559

Here we have 1559 unique values.

In [9]:
iden_val = train['Item_Identifier'].unique()

In [10]:
iden_val_l = range(1,len(iden_val)+1)

In [11]:
train['Item_Identifier'] = train['Item_Identifier'].replace(iden_val,iden_val_l)

In [12]:
train['Item_Identifier']

0          1
1          2
2          3
3          4
4          5
        ...
8518     360
8519    1538
8520     355
8521     909
8522     463
Name: Item_Identifier, Length: 8523, dtype: int64

**2. Item Weight**

In [13]:
train['Item_Weight'].isna().sum()

1463

Item_Weight is continuous values so fill value by median.

In [14]:
train['Item_Weight'] = train['Item_Weight'].fillna(train['Item_Weight'].median())

In [15]:
train['Item_Weight'].isna().sum()

0

**3. Item_fat_Content**

In [16]:
train['Item_Fat_Content'].isna().sum()

0

In [17]:
train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [18]:
train['Item_Fat_Content'] = train['Item_Fat_Content'].replace(['low fat','LF','reg'],['Low Fat','Low Fat','Regular'])

In [19]:
train['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

Here we have Nominal Value.

In [20]:
train['Item_Fat_Content'] = train['Item_Fat_Content'].replace(['Low Fat','Regular'],[0,1])

In [21]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,1,9.30,0,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,2,5.92,1,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,3,17.50,0,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,4,19.20,1,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,5,8.93,0,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [22]:
train.columns[3]

'Item_Visibility'

**4. Item_Visibility**

In [23]:
train['Item_Visibility'].unique()

array([0.0160473 , 0.01927822, 0.01676007, ..., 0.03518627, 0.14522065,
       0.04487828])

**5. Item_Type**

In [24]:
train['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [25]:
train = pd.get_dummies(train,columns=['Item_Type'],drop_first=True)

In [26]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,...,Item_Type_Fruits and Vegetables,Item_Type_Hard Drinks,Item_Type_Health and Hygiene,Item_Type_Household,Item_Type_Meat,Item_Type_Others,Item_Type_Seafood,Item_Type_Snack Foods,Item_Type_Soft Drinks,Item_Type_Starchy Foods
0,1,9.30,0,0.016047,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,...,0,0,0,0,0,0,0,0,0,0
1,2,5.92,1,0.019278,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,...,0,0,0,0,0,0,0,0,1,0
2,3,17.50,0,0.016760,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,...,0,0,0,0,1,0,0,0,0,0
3,4,19.20,1,0.000000,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,...,1,0,0,0,0,0,0,0,0,0
4,5,8.93,0,0.000000,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,...,0,0,0,1,0,0,0,0,0,0

In [27]:
cols[5]

'Item_MRP'

**6. Item_MRP**

It is numerical value and No Missing value

In [28]:
cols[6]

'Outlet_Identifier'

**7. Outlet_Identifier**

In [29]:
train['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [30]:
train = pd.get_dummies(train,columns=['Outlet_Identifier'],drop_first=True)

In [31]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,...,Item_Type_Starchy Foods,Outlet_Identifier_OUT013,Outlet_Identifier_OUT017,Outlet_Identifier_OUT018,Outlet_Identifier_OUT019,Outlet_Identifier_OUT027,Outlet_Identifier_OUT035,Outlet_Identifier_OUT045,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049
0,1,9.30,0,0.016047,249.8092,1999,Medium,Tier 1,Supermarket Type1,3735.1380,...,0,0,0,0,0,0,0,0,0,1
1,2,5.92,1,0.019278,48.2692,2009,Medium,Tier 3,Supermarket Type2,443.4228,...,0,0,0,1,0,0,0,0,0,0
2,3,17.50,0,0.016760,141.6180,1999,Medium,Tier 1,Supermarket Type1,2097.2700,...,0,0,0,0,0,0,0,0,0,1
3,4,19.20,1,0.000000,182.0950,1998,NaN,Tier 3,Grocery Store,732.3800,...,0,0,0,0,0,0,0,0,0,0
4,5,8.93,0,0.000000,53.8614,1987,High,Tier 3,Supermarket Type1,994.7052,...,0,1,0,0,0,0,0,0,0,0

In [32]:
cols[7]

'Outlet_Establishment_Year'

**8. Outlet_Establishment_Year**

In [33]:
train['Outlet_Establishment_Year'].unique()

array([1999, 2009, 1998, 1987, 1985, 2002, 2007, 1997, 2004], dtype=int64)

In [34]:
train = pd.get_dummies(train,columns=['Outlet_Establishment_Year'],drop_first=True)

In [35]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Breads,...,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Establishment_Year_1987,Outlet_Establishment_Year_1997,Outlet_Establishment_Year_1998,Outlet_Establishment_Year_1999,Outlet_Establishment_Year_2002,Outlet_Establishment_Year_2004,Outlet_Establishment_Year_2007,Outlet_Establishment_Year_2009
0,1,9.30,0,0.016047,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380,0,...,0,1,0,0,0,1,0,0,0,0
1,2,5.92,1,0.019278,48.2692,Medium,Tier 3,Supermarket Type2,443.4228,0,...,0,0,0,0,0,0,0,0,0,1
2,3,17.50,0,0.016760,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700,0,...,0,1,0,0,0,1,0,0,0,0
3,4,19.20,1,0.000000,182.0950,NaN,Tier 3,Grocery Store,732.3800,0,...,0,0,0,0,1,0,0,0,0,0
4,5,8.93,0,0.000000,53.8614,High,Tier 3,Supermarket Type1,994.7052,0,...,0,0,1,0,0,0,0,0,0,0

In [36]:
cols[8]

'Outlet_Size'

**9. Outlet_Size**

In [37]:
train['Outlet_Size'].isna().sum()

2410

In [38]:
train['Outlet_Size'] = train['Outlet_Size'].fillna(0)

In [39]:
train['Outlet_Size'].unique()

array(['Medium', 0, 'High', 'Small'], dtype=object)

In [40]:
train['Outlet_Size'].value_counts()

Medium    2793
0         2410
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [41]:
train['Outlet_Size'] = train['Outlet_Size'].replace(['Small','Medium','High'],[1,2,3])

In [42]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Breads,...,Outlet_Identifier_OUT046,Outlet_Identifier_OUT049,Outlet_Establishment_Year_1987,Outlet_Establishment_Year_1997,Outlet_Establishment_Year_1998,Outlet_Establishment_Year_1999,Outlet_Establishment_Year_2002,Outlet_Establishment_Year_2004,Outlet_Establishment_Year_2007,Outlet_Establishment_Year_2009
0,1,9.30,0,0.016047,249.8092,2,Tier 1,Supermarket Type1,3735.1380,0,...,0,1,0,0,0,1,0,0,0,0
1,2,5.92,1,0.019278,48.2692,2,Tier 3,Supermarket Type2,443.4228,0,...,0,0,0,0,0,0,0,0,0,1
2,3,17.50,0,0.016760,141.6180,2,Tier 1,Supermarket Type1,2097.2700,0,...,0,1,0,0,0,1,0,0,0,0
3,4,19.20,1,0.000000,182.0950,0,Tier 3,Grocery Store,732.3800,0,...,0,0,0,0,1,0,0,0,0,0
4,5,8.93,0,0.000000,53.8614,3,Tier 3,Supermarket Type1,994.7052,0,...,0,0,1,0,0,0,0,0,0,0

In [43]:
cols[9]

'Outlet_Location_Type'

**10. Outlet_Location_Type**

In [44]:
train['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [45]:
train['Outlet_Location_Type'] = train['Outlet_Location_Type'].replace(['Tier 1', 'Tier 2', 'Tier 3'],[1,2,3])

In [46]:
cols[10]

'Outlet_Type'

**11. Outlet_type**

In [47]:
train['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

In [48]:
train = pd.get_dummies(train,columns=['Outlet_Type'],drop_first=True,dummy_na=True)

In [49]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Item_Outlet_Sales,Item_Type_Breads,Item_Type_Breakfast,...,Outlet_Establishment_Year_1998,Outlet_Establishment_Year_1999,Outlet_Establishment_Year_2002,Outlet_Establishment_Year_2004,Outlet_Establishment_Year_2007,Outlet_Establishment_Year_2009,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Outlet_Type_nan
0,1,9.30,0,0.016047,249.8092,2,1,3735.1380,0,0,...,0,1,0,0,0,0,1,0,0,0
1,2,5.92,1,0.019278,48.2692,2,3,443.4228,0,0,...,0,0,0,0,0,1,0,1,0,0
2,3,17.50,0,0.016760,141.6180,2,1,2097.2700,0,0,...,0,1,0,0,0,0,1,0,0,0
3,4,19.20,1,0.000000,182.0950,0,3,732.3800,0,0,...,1,0,0,0,0,0,0,0,0,0
4,5,8.93,0,0.000000,53.8614,3,3,994.7052,0,0,...,0,0,0,0,0,0,1,0,0,0

In [50]:
train.isna().sum()

Item_Identifier                    0
Item_Weight                        0
Item_Fat_Content                   0
Item_Visibility                    0
Item_MRP                           0
Outlet_Size                        0
Outlet_Location_Type               0
Item_Outlet_Sales                  0
Item_Type_Breads                   0
Item_Type_Breakfast                0
Item_Type_Canned                   0
Item_Type_Dairy                    0
Item_Type_Frozen Foods             0
Item_Type_Fruits and Vegetables    0
Item_Type_Hard Drinks              0
Item_Type_Health and Hygiene       0
Item_Type_Household                0
Item_Type_Meat                     0
Item_Type_Others                   0
Item_Type_Seafood                  0
Item_Type_Snack Foods              0
Item_Type_Soft Drinks              0
Item_Type_Starchy Foods            0
Outlet_Identifier_OUT013           0
Outlet_Identifier_OUT017           0
Outlet_Identifier_OUT018           0
Outlet_Identifier_OUT019           0
Outlet_Identifier_OUT027           0
Outlet_Identifier_OUT035           0
Outlet_Identifier_OUT045           0
Outlet_Identifier_OUT046           0
Outlet_Identifier_OUT049           0
Outlet_Establishment_Year_1987     0
Outlet_Establishment_Year_1997     0
Outlet_Establishment_Year_1998     0
Outlet_Establishment_Year_1999     0
Outlet_Establishment_Year_2002     0
Outlet_Establishment_Year_2004     0
Outlet_Establishment_Year_2007     0
Outlet_Establishment_Year_2009     0
Outlet_Type_Supermarket Type1      0
Outlet_Type_Supermarket Type2      0
Outlet_Type_Supermarket Type3      0
Outlet_Type_nan                    0
dtype: int64

**data split**

In [51]:
from sklearn.model_selection import train_test_split
X_train,y_train,X_test,y_test = train_test_split(train.drop(columns=['Item_Outlet_Sales']),train['Item_Outlet_Sales'],test_size = 0.25,random_state=42)

**Train Model Using Linear Regression**

In [52]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()
clf.fit(X_train,X_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
X_pred = clf.predict(X_train)

In [54]:
from sklearn.metrics import r2_score
r2_score(X_test,X_pred)

0.5615790713346283

In [55]:
y_pred = clf.predict(y_train)

In [56]:
r2_score(y_test,y_pred)

0.567051882067156

In [57]:
mse = np.mean((y_pred-y_test)**2)
sco = np.sqrt(mse)
sco

1092.9291029958688