# Import Library and Dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv("../Regression/train.csv")

In [3]:
df = df_train.copy()

In [4]:
df.shape

(1460, 81)

In [5]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [6]:
df.drop(columns=['SalePrice','Id'],axis=0,inplace=True)

In [7]:
c = df.columns

In [8]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [9]:
df.describe()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,46.549315,...,472.980137,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753
std,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,161.319273,...,213.804841,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095
min,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,0.000000,...,334.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000
50%,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,0.000000,...,480.000000,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,0.000000,...,576.000000,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,1474.000000,...,1418.000000,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000

In [10]:
ty_obj = []
ty_p = []
for i in range(len(c)):
    if df[c[i]].dtype != 'int64' and df[c[i]].dtype != 'float64':
        ty_obj.append(c[i])
    elif df[c[i]].dtype != 'O':
        ty_p.append(c[i])

In [11]:
len(ty_p)

36

In [12]:
len(ty_obj)

43

# Categorical Data

# Nominal Data

In [13]:
rrr = ty_obj.copy()

In [14]:
# below features is Ordinal so we remove
ll = ['LotShape','ExterCond','ExterQual','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','HeatingQC','Electrical','KitchenQual','FireplaceQu','GarageFinish','GarageQual','GarageCond','PoolQC']

In [15]:
for i in ll:
    rrr.remove(i)

Handle Missing Value

In [16]:
re_l = [] # Feature Index
re_ll = [] # Feature Missing value total
for i in range(len(rrr)):
    print (df[rrr[i]].isna().sum())
    if df[rrr[i]].isna().sum() != 0:
        re_l.append(i)
        re_ll.append(df[rrr[i]].isna().sum())

0
0
1369
0
0
0
0
0
0
0
0
0
0
0
0
0
8
0
0
0
0
81
0
1179
1406
0
0

In [17]:
re_l

[2, 16, 21, 23, 24]

In [18]:
re_ll

[1369, 8, 81, 1179, 1406]

In [19]:
for i in range(len(re_l)):
    print (rrr[re_l[i]],"   -  ",re_ll[i])

Alley    -   1369
MasVnrType    -   8
GarageType    -   81
Fence    -   1179
MiscFeature    -   1406

**1. Alley, Fence and MiscFeature**

In [20]:
df.drop(columns=['Alley','Fence','MiscFeature'],axis=0,inplace=True)

In [21]:
# 'Alley','Fence','MiscFeature' have more missing values
rrr.remove('Alley')
rrr.remove('Fence')
rrr.remove('MiscFeature')

**2. GaregeType**

In [22]:
df['GarageType'].value_counts()

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [23]:
df['GarageType'] = df['GarageType'].fillna('Detchd')

**3. MasVnrType**

In [24]:
df['MasVnrType'].value_counts()

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [25]:
df['MasVnrType'] = df['MasVnrType'].fillna('BrkFace')

In [26]:
from sklearn.preprocessing import OneHotEncoder
for i in range(len(rrr)):
    enc = OneHotEncoder(handle_unknown='ignore')
    one_all = enc.fit_transform(df[[rrr[i]]]).toarray()
    enc.categories_

    one_all = one_all.T

    for j in range(len(one_all)):
        df[enc.categories_[0][j]] = one_all[j]

    df.drop(columns = [rrr[i]],inplace=True)
    print (rrr[i])

MSZoning
Street
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
Foundation
Heating
CentralAir
Functional
GarageType
PavedDrive
SaleType
SaleCondition

In [27]:
df.columns

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'LotShape', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'ExterQual',
       ...
       'ConLw', 'New', 'Oth', 'WD', 'Abnorml', 'AdjLand', 'Alloca', 'Family',
       'Normal', 'Partial'],
      dtype='object', length=194)

In [28]:
df.shape

(1460, 194)

# Ordinal Data

In [29]:
print (ll)

['LotShape', 'ExterCond', 'ExterQual', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'HeatingQC', 'Electrical', 'KitchenQual', 'FireplaceQu', 'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC']

Handle Missing Value

In [30]:
re_l1 = [] # Feature Index
re_ll1 = [] # Feature Missing value total
for i in range(len(ll)):
    print (df[ll[i]].isna().sum())
    if df[ll[i]].isna().sum() != 0:
        re_l1.append(i)
        re_ll1.append(df[ll[i]].isna().sum())

0
0
0
37
37
38
37
38
0
1
0
690
81
81
81
1453

In [31]:
for i in range(len(re_l1)):
    print (ll[re_l1[i]],"   -  ",re_ll1[i])

BsmtQual    -   37
BsmtCond    -   37
BsmtExposure    -   38
BsmtFinType1    -   37
BsmtFinType2    -   38
Electrical    -   1
FireplaceQu    -   690
GarageFinish    -   81
GarageQual    -   81
GarageCond    -   81
PoolQC    -   1453

In [32]:
df.drop(columns=['PoolQC'],inplace=True)

In [33]:
ll.remove('PoolQC')

In [34]:
df['BsmtQual'].value_counts()

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [35]:
df['BsmtQual'] = df['BsmtQual'].fillna('TA')

In [36]:
df['BsmtCond'].value_counts()

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [37]:
df['BsmtCond'] = df['BsmtCond'].fillna('TA')

In [38]:
df['BsmtCond'].value_counts()

TA    1348
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [39]:
df['BsmtExposure'] = df['BsmtExposure'].fillna('TA')

In [40]:
df['BsmtFinType1'] = df['BsmtFinType1'].fillna('TA')

In [41]:
df['BsmtFinType2'] = df['BsmtFinType2'].fillna('TA')

In [42]:
df['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [43]:
df['Electrical'] = df['Electrical'].fillna('SBrkr')

In [44]:
df['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

In [45]:
df['KitchenQual'] = df['KitchenQual'].fillna('TA')

In [46]:
df['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [47]:
df['FireplaceQu'] = df['FireplaceQu'].fillna('Gd')

In [48]:
df['GarageFinish'].value_counts()

Unf    605
RFn    422
Fin    352
Name: GarageFinish, dtype: int64

In [49]:
df['GarageFinish'] = df['GarageFinish'].fillna('Unf')

In [50]:
df['GarageQual'] = df['GarageQual'].fillna('Unf')
df['GarageCond'] = df['GarageCond'].fillna('Unf')

Now Do Label Encoding

In [51]:
from sklearn.preprocessing import LabelEncoder
for k in range(len(ll)):
    gle = LabelEncoder()
    genre_labels = gle.fit_transform(df[ll[k]])
    df[ll[k]] = genre_labels

In [52]:
df.shape

(1460, 193)

# Numerical Data

In [53]:
print (ty_p)

['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

Handel Missing Value

In [54]:
pp = ty_p.copy()
re_p = []
re_pp = []
for i in range(len(pp)):
    print (df[pp[i]].isna().sum())
    if df[pp[i]].isna().sum() != 0:
        re_p.append(i)
        re_pp.append(df[pp[i]].isna().sum())

0
259
0
0
0
0
0
8
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
81
0
0
0
0
0
0
0
0
0
0
0

In [55]:
for i in range(len(re_p)):
    print (pp[re_p[i]],"   -  ",re_pp[i])

LotFrontage    -   259
MasVnrArea    -   8
GarageYrBlt    -   81

In [56]:
for i in range(len(re_p)):
    print (pp[re_p[i]],"   -  ",re_pp[i])

LotFrontage    -   259
MasVnrArea    -   8
GarageYrBlt    -   81

In [57]:
df['LotFrontage'].fillna(df['LotFrontage'].median(),inplace = True)

In [58]:
abd = ['LotFrontage','GarageYrBlt','MasVnrArea']

In [59]:
for i in range(len(abd)):
    df[abd[i]] = df[abd[i]].fillna(df[abd[i]].median())

# Skewness

Outlier Detection

In [60]:
from scipy.stats import norm, skew

numeric_feats = df.dtypes[df.dtypes != "object"].index

# Check the skew of all numerical features
skewed_feats = df[numeric_feats].apply(lambda x: skew(x.dropna())).sort_values(ascending=False)
print("\nSkew in numerical features: \n")
skewness = pd.DataFrame({'Skew' :skewed_feats})
skewness.head(55)

Skew in numerical features:

                Skew
RRAn       38.170678
Membran    38.170678
ClyTile    38.170678
Roll       38.170678
Sev        38.170678
PosA       38.170678
NoSeWa     38.170678
Floor      38.170678
Other      38.170678
Metal      38.170678
RRAe       38.170678
Blueste    26.962963
OthW       26.962963
Con        26.962963
Shed       26.962963
PosN       26.962963
BrkComm    26.962963
RRNe       26.962963
Artery     26.962963
RRNn       26.962963
MiscVal    24.451640
Wood       21.992470
Oth        21.992470
AsphShn    21.992470
AdjLand    19.026370
Wall       19.026370
CWD        19.026370
FR3        19.026370
ConLI      17.000101
ConLw      17.000101
WdShake    17.000101
Maj2       17.000101
WdShngl    15.502821
2Types     15.502821
Feedr      15.502821
Grvl       15.502821
Stone      15.502821
PoolArea   14.813135
Grav       14.337930
Brk Cmn    14.337930
Mansard    14.337930
2.5Fin     13.397967
NPkVill    12.618575
ConLD      12.618575
CarPort    12.618575
LotArea    12.195142
C (all)    11.958549
ImStucc    11.958549
Gambrel    11.390121
Veenker    11.390121
2.5Unf     11.390121
Tar&Grv    11.390121
Alloca     10.893803
Flat       10.455462
3SsnPorch  10.293752

In [61]:
skewness = skewness[abs(skewness) > 0.75]
print("There are {} skewed numerical features to Box Cox transform".format(skewness.shape[0]))

from scipy.special import boxcox1p
skewed_features = skewness.index
lam = 0.15
for feat in skewed_features:
    #all_data[feat] += 1
    df[feat] = boxcox1p(df[feat], lam)
    
#all_data[skewed_features] = np.log1p(all_data[skewed_features])

There are 193 skewed numerical features to Box Cox transform

In [62]:
df = pd.get_dummies(df)
print(df.shape)

(1460, 193)

In [63]:
train = df.copy()

In [64]:
train.shape

(1460, 193)

In [65]:
train['SalePrice'] = df_train['SalePrice']

In [66]:
train.head()

,MSSubClass,LotFrontage,LotArea,LotShape,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,New,Oth,WD,Abnorml,AdjLand,Alloca,Family,Normal,Partial,SalePrice
0,5.684507,5.831328,19.212182,1.540963,2.440268,2.055642,14.187527,14.187527,8.059126,1.194318,...,0.0,0.0,0.730463,0.000000,0.0,0.0,0.0,0.730463,0.0,208500
1,3.858807,6.221214,19.712205,1.540963,2.259674,2.602594,14.145138,14.145138,0.000000,1.540963,...,0.0,0.0,0.730463,0.000000,0.0,0.0,0.0,0.730463,0.0,181500
2,5.684507,5.914940,20.347241,0.000000,2.440268,2.055642,14.184404,14.185966,7.646538,1.194318,...,0.0,0.0,0.730463,0.000000,0.0,0.0,0.0,0.730463,0.0,223500
3,5.968981,5.684507,19.691553,0.000000,2.440268,2.055642,14.047529,14.135652,0.000000,1.540963,...,0.0,0.0,0.730463,0.730463,0.0,0.0,0.0,0.000000,0.0,140000
4,5.684507,6.314735,21.325160,0.000000,2.602594,2.055642,14.182841,14.182841,9.391827,1.194318,...,0.0,0.0,0.730463,0.000000,0.0,0.0,0.0,0.730463,0.0,250000

In [67]:
train["SalePrice"] = train["SalePrice"].astype(int)

Y_train = train["SalePrice"]

X_train = train.drop(labels = ["SalePrice"],axis = 1)

In [68]:
import numpy as np
from sklearn.linear_model import LinearRegression

reg = LinearRegression().fit(X_train, Y_train)

print ("Score",reg.score(X_train, Y_train))

Score 0.9022970688407965

In [69]:
X = X_train
y = Y_train

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [71]:
reg1 = LinearRegression().fit(X_train, y_train)

reg1.score(X_train,y_train)

0.9112550148882393

Score on unseen data

In [72]:
reg1.score(X_test,y_test)

0.8544302053814593